<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapperInterface.CommentsMapper">

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  
	<select id="totalRowCount" resultType="int">
		select count(*) from comments
	</select>
	
	<select id="pageList" resultType="vo.CommentsVO">
		select
			reply_seq,
 			root_seq,
 			member_id,
 			regdate,
 			texts,
 			rating  
 		from comments 
		where rnum between #{sno} and #{eno}
	</select>
	
	<select id="selectList" resultType="vo.CommentsVO">
		select 
			reply_seq,
			root_seq,
			member_id,
			regdate,
			texts,
			rating 
		from comments
		where root_seq=#{root_seq}
	</select>
	
	<select id="selectmyList" resultType="vo.CommentsVO">
		select 
			reply_seq,
			root_seq,
			member_id,
			regdate,
			texts,
			rating 
		from comments
		where member_id=#{member_id}
	</select>
	
	<select id="selectOne" resultType="vo.CommentsVO">
		select * from comments where reply_seq = #{reply_seq}
	</select>
	
	<!-- 원글입력 -->
	<insert id="insert">
		<selectKey keyProperty="reply_seq" resultType="int" order="BEFORE">
			select nvl(max(reply_seq),0)+1 from comments
		</selectKey>
		insert into comments values ( 
			#{reply_seq},#{root_seq},#{member_id},SYSDATE,#{texts},#{rating}
		)
	</insert>
	
	<update id="update">
		update comments 
		set 
			rating=#{rating},
			texts=#{texts}
		where reply_seq=#{reply_seq}
	</update>
	
	<delete id="delete">
		delete from comments
		where reply_seq=#{reply_seq} 
	</delete>
	

</mapper>