<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapperInterface.CommentsMapper">

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
   
	 <select id="listPaging" resultMap="ReplyResultMap">
 		select 
 			reply_seq,
 			root_seq,
 			member_id,
 			regdate,
 			texts,
 			fileupload,
 			rating,
 			status 
 		from comments 
		where root_seq=#{root_seq} 
		order by reply_seq
		limit #{criteria.sno}, #{criteria.eno}
	</select>	
	
	<select id="countComments" resultType="int">
		select
			count(root_seq)
		from comments
		where root_seq=#{root_seq}
	</select>
	
 	<select id="list" resultMap="ReplyResultMap">
 		select 
 			reply_seq,
 			root_seq,
 			member_id,
 			regdate,
 			texts,
 			fileupload,
 			rating,
 			status 
 		from comments 
		where root_seq=#{root_seq} 
		order by reply_seq
	</select>	
	
	<!-- 원글입력 -->
	<insert id="insert">
		insert into comments (
			root_seq,
			texts,
			member_id
		) values ( 
			#{root_seq},
			#{texts},
			#{member_id}
		)
	</insert>
	
	<update id="update">
		update comments 
		set 
			texts=#{texts}, 
			regdate=#{regdate} 
		where reply_seq=#{reply_seq}
	</update>
	
	<delete id="delete">
		delete from comments
		where reply_seq=#{reply_seq} 
	</delete>
	
	<resultMap id="ReplyResultMap" type="vo.CommentsVO"> 
		<id property="reply_seq" column="reply_seq"/> 
		<result property="root_seq" column="root_seq"/> 
		<result property="member_id" column="member_id"/> 
		<result property="regdate" column="regdate"/> 
		<result property="texts" column="texts"/> 
		<result property="fileupload" column="fileupload"/> 
		<result property="rating" column="rating"/>
		<result property="status" column="status"/>  
	</resultMap>


</mapper>