<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapperInterface.FollowMapper">


    <select id="followingselectList" resultType="vo.FollowVO">
		select follower from follow where following=#{following}
	</select>
	<select id="followerselectList" resultType="vo.FollowVO">
		select following from follow where follower=#{following}
	</select>
   
	<select id="followflag" resultType="int">
	   select count(*) from follow where following=#{following} and follower=#{follower}
	</select>

	<insert id="insert">
			insert into follow values (#{following},#{follower},SYSDATE,#{tag})
	</insert>
	
	<select id="countfollowing" resultType="int">
		select count(*) from follow where following=#{follower}
	</select>
	
	<select id="countfollower" resultType="int">
		select count(*) from follow where follower=#{follower}
	</select>
	<select id="countmyfollowing" resultType="int">
		select count(*) from follow where following=#{following}
	</select>
	
	<select id="countmyfollower" resultType="int">
		select count(*) from follow where follower=#{following}
	</select>	
		
	<delete id="delete">
		DELETE from follow where following=#{following} and follower=#{follower}
	</delete>

</mapper>