<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapperInterface.FollowMapper">


    <select id="followingselectList" resultType="vo.FollowVO">
		select follower from follow where following=member_id order by follow_seq asc
	</select>
	<select id="followerselectList" resultType="vo.FollowVO">
		select following from follow where follower=member_id order by follow_seq asc
	</select>
   

	<insert id="insert">
		<selectKey keyProperty="follow_seq" resultType="int" order="BEFORE">
			select nvl(max(follow_seq),0)+1 from follow
		</selectKey>
			insert into follow values (#{follow_seq},#{following},#{follower},SYSDATE)
	</insert>
	
	<select id="countfollowing">
		select count(*) from follow where following=#{follower}
	</select>
	
	<select id="countfollower">
		select count(*) from follow where follower=#{follower}
	</select>
		
		
	<delete id="delete">
		DELETE from follow where following=#{following} and follower=#{follower}
	</delete>

</mapper>