<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapperInterface.RootMapper">


<!-- ** Member Check List : 반복문 <foreach .. Test  --> 
   <select id="checkList" resultType="vo.RootVO">
   		select * from root where member_id in 
   		<foreach collection="check" item="it" open="(" close=")" separator=",">
   			#{it}
   		</foreach>
   		order by root_seq desc
   </select>

<!-- ** Ajax id_BoardList -->
	<select id="aidBList" resultType="vo.RootVO">
		select * from root where member_id=#{member_id} 
		order by root_seq desc
	</select>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<sql id="search">
		<if test="keyword != null">
			<bind name="keyVal" value="'%'+keyword+'%'"/>
		</if>
		<choose>
			<when test="searchType=='t'.toString()">
				and title LIKE #{keyVal} )
			</when>
			<when test="searchType=='c'.toString()">
  				and content Like #{keyVal} )
	  		</when>
		  	<when test="searchType=='i'.toString()">
		  		and member_id Like #{keyVal} )
		  	</when>
		  	<when test="searchType=='tc'.toString()">
		  		and title Like #{keyVal} 
		  		or content Like #{keyVal} )
		  	</when>
		  	<when test="searchType=='ti'.toString()">
		  		and title Like #{keyVal} 
		  		or member_id Like #{keyVal} )
		  	</when>
		  	<when test="searchType=='tci'.toString()">
		  		and title Like #{keyVal}
		  		or content Like #{keyVal} 
		  		or member_id Like #{keyVal} )
		  	</when>
		  	<otherwise>)</otherwise>
		</choose>
	</sql>

	<select id="searchRowsCount" resultType="int">
		select count(*) from root where ( root_seq>0 
		<include refid="search"></include>	
	</select>
 	<select id="searchList" resultType="vo.RootVO">
 		select root_seq,title,member_id,RegDate,cnt,good,status from 
			(select r.*,ROW_NUMBER() OVER(order by root_seq desc) rnum from root r 
			where root_seq>0 
			<include refid="search"></include>
			where rnum between #{sno} and #{eno}
	</select>

<!-- ** 답글입력 ~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->	
	<!-- <update id="stepUpdate">
		update Root set step=step+1 where root=#{root} and step>=#{step}
	</update>
	
	<insert id="replyInsert">
		<selectKey keyProperty="seq" resultType="int" order="BEFORE">
			select nvl(max(seq),0)+1 from Root
		</selectKey>
		insert into Root values (
			#{seq},
			#{title},#{id},#{content},SYSDATE,0,#{root},#{step},#{indent})
	</insert>   -->

<!-- ** PageList ~~~~~~~~~~~~~~~~~~~~~~-->
	<select id="totalRowCount" resultType="int">
		select count(*) from root
	</select>
	
	<select id="pageList" resultType="vo.RootVO">
		select root_seq,title,member_id,RegDate,cnt,good,status from 
		(select r.* , ROW_NUMBER() OVER(order by root_seq desc) rnum from root r) 
		where rnum between #{sno} and #{eno}
	</select>

	<select id="selectList" resultType="vo.RootVO">
		select root_seq,title,member_id,RegDate,cnt,good,status from root
		order by root_seq asc
	</select>
	
	<select id="typeList" resultType="vo.RootVO">
		select root_seq,title,member_id,RegDate,cnt,good,status from root
		where type=#{type}
		order by root_seq asc
	</select>
	
	<select id="selectOne" resultType="vo.RootVO">
		select * from root where root_seq = #{root_seq}
	</select>
	
	<!-- ** 조회수증가 -->
	<update id="countUp">
		update root set cnt=cnt+1 where root_seq=#{root_seq}
	</update>
	<!-- 원글입력 -->
	<insert id="insert">
		<selectKey keyProperty="root_seq" resultType="int" order="BEFORE">
			select nvl(max(root_seq),0)+1 from root
		</selectKey>
		insert into root values (#{root_seq},#{type},#{title},#{member_id},SYSDATE,#{content},#{files},#{product_id},
			0,'0',0)
	</insert>
	
	<update id="update">
		update root set title=#{title}, content=#{content}, files=#{files}, product_id=#{product_id} where root_seq=#{root_seq}
	</update>
	
	
	<delete id="delete">
		DELETE from root where root_seq=#{root_seq}
		<!-- <if test="seq==root">where root=#{seq}</if> 
		원글삭제 : 동일한 root를 가진 글들은 모두 삭제
		<if test="seq!=root">where seq=#{seq}</if> 
		답글삭제 -->
	</delete>

</mapper>